* {
  margin: 0;
  padding: 0;
}

#bookcase {
  background-color: rgb(100, 50, 20);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding: 30px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: max(160px, min-content);
  height: 200px;
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
  margin-bottom: 25px;
}

.pages {
  font-size: 18px;
  margin-bottom: 15px;
}

.read {
  font-size: 16px;
  margin-bottom: 10px;
}

div.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button.new-book {
  font-size: 30px;
  padding: 10px 30px;
  background-color: rgb(200, 175, 175);
  border: 3px solid rgb(100, 50, 20);
  border-radius: 15px;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.3),
              inset 2px 2px 2px rgba(255, 255, 255, 0.3);
}

button.new-book:hover {
  background-color: rgb(175, 150, 150);
} 

button.new-book:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3),
              inset -2px -2px 2px rgba(255, 255, 255, 0.3);
}