* {
  margin: 0;
  padding: 0;
}

#bookcase {
  background-color: rgb(100, 50, 20);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding: 30px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 160px;
  height: 200px;
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
}

.title {
  margin-bottom: 10px;
}

.author {
  margin-bottom: 25px;
}

.pages {
  margin-bottom: 15px;
}

.read {
  margin-bottom: 10px;
}